  /* BODY */

  body {
    background-color: rgb(255, 105, 105);
    font-family:'Times New Roman', Times, serif
  }

  /* NAVBAR */
  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(255, 50, 50);
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 50, 50);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(255, 105, 105);
  color: white;

}

/*TEXT HOME*/
.Text{
  margin-top: 10px;
  text-align: center;
}

#TextA{
  margin-top: 10px;
  font-size: 50px;
  font-weight: bolder;
}

#TextB{
  margin-top: 10px;
  font-size: 30px;
}


#Bild{
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.Frage{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: bold;
}
#Frage{
  font-size: 30px;
  text-align: center;
}

.Knöpfe{
  text-align: center;
  
}
.Knöpfe button{
  background-color: rgb(154, 206, 223);
  border: none;
  font-size: 40px;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 20px;
}

#TextC{
  margin-top: 10px;
  font-size: 30;
  text-align: center;
  font-weight: bold;
}

#TextD{
  margin-top: 10px;
  font-size: 25px;
}

#OperZ{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

/*FOOTER*/
footer {
  text-align: center;
  font-size: 30px;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgb(255, 50, 50);
  margin-top: 20px;

}