
/* Festlegung Allgemeines Seiten Layout */
*{
  margin: 0;
  padding: 0;
}

/* Body einstellungen */
body {
  height: 100%;
  background-color: rgb(255, 105, 97);
  background-size: cover;

  
}

/* NAVBAR */

/* Abstand oberkante */
nav{
padding-top: 15px;

}

/* Einstellen des Bandes */
nav ul{
width: 100%;
float: left;
background-color: rgb(154, 206, 223);

}

/* Oberpunkte anordnen */
nav ul li{
float:left;
list-style: none;
position: relative;

/* Schrift Anpassen */
}
nav ul li a{
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
display: block;
}

/* Farbeffekt drüber Hovern */
nav a:hover {
background-color: rgb(111, 183, 214);
color: black;
}

/* Unterpunkte anordnen und Unsichtbar machen */
nav ul li ul{

display: none;
position: absolute;

}

/* Unterpunkte anordnen der List elemente */
nav ul li ul li {
float: left;
width: 100%;

}

/* Unterpunkte beim Hovern erscheinen lassen */

nav ul li:hover ul{
display: block;

}

/* Schriftfarbe Hover ändern */
nav ul li ul li a:hover{
color: black;
}

/* Active Seite anders Färben */
nav a.active {
background-color: rgb(145, 210, 144);
color: white;
}

/*Seiten Überschrift*/


#StartText{
  font-weight: bolder;
  text-align: center;
  font-size: 3vw;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.Bilder {
  align-items: center;
  display:flex;

}

/* Bild Emmi*/
/* Festlegung Größe und Position */

.BildEmmi img{
  width: 60%;
  height: auto;
  float:left;
  
}

.BildEmmi{
  margin-left: 15%;
  margin-bottom: 5%;
  position: relative;
  
  
}


/* Erscheien des Textes beim Hovern und Unsichtbar machen */
.BildEmmi span{
  align-items: center;
  width: 60%;
  height: 100%;
  float: left;
  left: 0px;
  display: block;
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.5);
  position: absolute;
  font-weight: bolder;
  font-size: 2vw;
  color: black;
  bottom: 0;
  line-height: 2em;
  text-align: center;
  visibility: hidden;

}


/* Erscheinen beim Hover */
.BildEmmi:hover span{
  visibility: visible;
}

/* Positionierung Text und Bild übereinander */
.BildEmmi img{
  display: block;
}


/* Bild Fine*/
/* Festlegung Größe und Position */

.BildFine{
  margin-right: 15%;
  margin-bottom: 5%;
  position: relative;
  border: 0px;
  
}
.BildFine img{
  width: 60%;
  height: 100%;
  float: right;
  
}

/* Erscheien des Textes beim Hovern und Unsichtbar machen */
.BildFine span{
  display: block;
  width: 60%;
  height: 100%;
  right: 0;
  bottom: 0px;
  position: absolute;
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.5);
  font-weight: bolder;
  font-size: 2vw;
  color: black;
  line-height: 2em;
  text-align: center;
  visibility: hidden;

}


/* Erscheinen beim Hover */
.BildFine:hover span{
  text-align: center;
  visibility: visible;
}

/* Positionierung Text und Bild übereinander */
.BildFine img{
  align-items: center;
  display: block;
}

/* Anpassen und nach untenschieben der Beschwerde*/

.Beschwerde{
  margin-top: 100vh;
  text-align: center;
  margin-bottom: 5%;
}
#Anschreien{
  font-size: 2vw;
  font-weight: bolder;
  margin-bottom: 1%;
}

#Nochmal{
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 2.5%;
}



/*FOOTER*/
footer {
  padding-bottom: 15px;
  text-align: center;
  position:relative;
  width: 100%;
  float: left;
  
  
  
}

footer p{
  background-color: rgb(154, 206, 223);
  font-size: 20px;

}
