
/* Festlegung Allgemeines Seiten Layout */
*{
  margin: 0;
  padding: 0;
}

/* Body einstellungen */
body {
  height: 100%;
  background-color: rgb(255, 105, 97);
  background-size: cover;

  
}

/* NAVBAR */

/* Abstand oberkante */
nav{
padding-top: 15px;

}

/* Einstellen des Bandes */
nav ul{
width: 100%;
float: left;
background-color: rgb(154, 206, 223);

}

/* Oberpunkte anordnen */
nav ul li{
float:left;
list-style: none;
position: relative;

/* Schrift Anpassen */
}
nav ul li a{
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
display: block;
}

/* Farbeffekt drüber Hovern */
nav a:hover {
background-color: rgb(111, 183, 214);
color: black;
}

/* Unterpunkte anordnen und Unsichtbar machen */
nav ul li ul{

display: none;
position: absolute;

}

/* Unterpunkte anordnen der List elemente */
nav ul li ul li {
float: left;
width: 100%;

}

/* Unterpunkte beim Hovern erscheinen lassen */

nav ul li:hover ul{
display: block;

}

/* Schriftfarbe Hover ändern */
nav ul li ul li a:hover{
color: black;
}

/* Active Seite anders Färben */
nav a.active {
background-color: rgb(145, 210, 144);
color: white;
}

/* Seitenüberschrift */
#Spielregeln{
  margin-top: 5%;
  text-align: center;
  font-size: 3vw;
  font-weight: bolder;
  margin-bottom: 2.5%;
  
  
}

/* Anpassen des allgemeinen Auswahlmenü */
.Auswahl{
  text-align: center;
  font-weight: bold;
  font-size: 2vw;;
  
}


/* Anpassen der Knöpfe zur Auswahl der Katzen */
.Auswahl button{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 10%;
  height: auto;
  background-color: rgb(154, 206, 223);
  border: none;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Design des Spielfeldes */
.tic-tac-toe #gameboard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 60vmin;
  height: 60vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

/* Anpassen der unsichtbaren Knöpfe */
.tic-tac-toe button {
  width:20vmin;
  height: 20vmin;
  background: white;
  border: 1px solid black;
  margin: 0;
  font: 0/0 transparent;
}

/* Aria Label Emmi */
.tic-tac-toe [aria-label="Emmi"] {
	background-image: url('bilder/emmit.png');
  background-size: 20vmin;
  background-repeat: no-repeat;

  
}

/* Aria Label Fine */
.tic-tac-toe [aria-label="Fine"]{
	background-image: url('bilder/finet.png');
  background-size: 20vmin;
  background-repeat: no-repeat;
}

/* Aria Label Molly */
.tic-tac-toe [aria-label="Molly"]{
	background-image: url('bilder/mollyt.png');
  background-size: 20vmin;
  background-repeat: no-repeat;
}

/* Aria Label Odin */
.tic-tac-toe [aria-label="Odin"]{
	background-image: url('Bilder/odint.png');
  background-size: 20vmin;
  background-repeat: no-repeat;
}

/* Hinweis 1 */
#AP {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1%;
}

/* Hinweis 2 */
#AP2 {
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 1%;
}

/* Anpassen des allgemeinen Auswahlmenü */
.NeuesSpiel{
  text-align: center;
  font-weight: bold;
  font-size: 2vw;;
  margin-bottom: 5%;
  
}


/* Anpassen der Knöpfe zur Auswahl der Katzen */
.NeuesSpiel button{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 10%;
  height: auto;
  background-color: rgb(154, 206, 223);
  border: none;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
}


/*FOOTER*/
footer {
  padding-bottom: 15px;
  text-align: center;
  position:relative;
  width: 100%;
  
  
  
}

footer p{
  background-color: rgb(154, 206, 223);
  font-size: 20px;

}