  /* BODY */

body {
    background-color: rgb(255, 105, 97);
  }

  /* NAVBAR */
  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(154, 206, 223);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(111, 183, 214);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(145, 210, 144);
  color: white;
}

/*TEXT HOME*/
.StartText{
  text-align: center;

}


/*BILDER HOME*/

.BilderHome {
  text-align: center;
  

}

/*FOOTER*/
footer {
  text-align: center;
  position:relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(154, 206, 223);
}

