  /* BODY */

body {
    background-color: rgb(255, 105, 97);
  }

  /* NAVBAR */
  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(154, 206, 223);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(111, 183, 214);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(145, 210, 144);
  color: white;
}

#Spielregeln{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  
  
}

.Auswahl{
  text-align: center;
  font-weight: bold;
  font-size: 35px;;
}

.Auswahl button{
  background-color: rgb(154, 206, 223);
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
}

.tic-tac-toe #gameboard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 60vmin;
  height: 60vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.tic-tac-toe button {
  width:20vmin;
  height: 20vmin;
  background: white;
  border: 1px solid black;
  margin: 0;
  font: 0/0 transparent;
}

.tic-tac-toe [aria-label="Emmi"] {
	background-image: url('Bilder/EmmiT.png');
  background-size: 20vmin;
  background-repeat: no-repeat;

  
}

.tic-tac-toe [aria-label="Fine"]{
	background-image: url('Bilder/FineT.png');
  background-size: 20vmin;
  background-repeat: no-repeat;
}

.tic-tac-toe [aria-label="Molly"]{
	background-image: url('Bilder/MollyT.png');
  background-size: 20vmin;
  background-repeat: no-repeat;
}

.tic-tac-toe [aria-label="Odin"]{
	background-image: url('Bilder/OdinT.png');
  background-size: 20vmin;
  background-repeat: no-repeat;
}


#AP {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#AP2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}




/*FOOTER*/
footer {
  text-align: center;
  position:relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(154, 206, 223);
}