  /* BODY */

  body {
    background-color: rgb(255, 105, 97);
  }

  /* NAVBAR */
  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(154, 206, 223);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(111, 183, 214);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(145, 210, 144);
  color: white;
}

.TextAnfang{
    text-align: center;
    margin-bottom: 100px;
}

/* Bild 1*/

.Bild1{
  left: 30%;
  width: 400px;
  position: relative;
  border: 0px;
}



.Bild1 span{
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.5);
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 2em;
  text-align: center;
  visibility: hidden;
  

}

.Bild1:hover span{
  visibility: visible;
}

.Bild1 img{
  display: block;
}

/* Bild 2*/
.Bild2{
  left: 60%;
  width: 400px;
  position: relative;
  border: 0px;
}

.Bild2 span{
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.5);
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 2em;
  text-align: center;
  visibility: hidden;
  

}

.Bild2:hover span{
  visibility: visible;
}

.Bild2 img{
  display: block;
}

/* Bild 3*/
.Bild3{
  left: 30%;
  width: 400px;
  position: relative;
  border: 0px;
}

.Bild3 span{
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.5);
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 2em;
  text-align: center;
  visibility: hidden;
  

}

.Bild3:hover span{
  visibility: visible;
}

.Bild3 img{
  display: block;
}

/* Bild 4*/
.Bild4{
  left: 60%;
  width: 400px;
  position: relative;
  border: 0px;
}

.Bild4 span{
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.5);
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 2em;
  text-align: center;
  visibility: hidden;
  

}

.Bild4:hover span{
  visibility: visible;
}

.Bild4 img{
  display: block;
}

/*FOOTER*/
footer {
  text-align: center;
  position:relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(154, 206, 223);
}
